files/choice_other_ns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="choice">
      <xs:complexType>
         <xs:choice>
            <xs:element name="a" type="xs:string" />
            <xs:element name="b" type="xs:string" />
            <xs:element name="c" type="xs:string" />
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="test">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="choice" maxOccurs="3" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
